<html>
  <head>
    <title>Example Network</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <nav>
      <a href="/">Network</a>
      <a href="/channel/create">Create Channel</a>
      {{#if user}}
        <!-- <a href="/">{{user.name}}'s Profile</a> -->
        <form action="/authentication/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
        {{else}}
        <a href="/authentication/sign-in">Sign In</a>
        <a href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </nav>
    {{{ body }}}
  </body>
</html>